<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./sass/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div>
            <a href="#">
              <h3 class="header_h301">
                Для мужчин <i class="fa-solid fa-sort-down"></i></h3
            ></a>
          </div>
          <div>
            <a href="#">
              <h3 class="header_h302">
                Для женщин <i class="fa-solid fa-sort-down"></i></h3
            ></a>
          </div>
          <div>
            <a href="#">
              <h3 class="header_h303">
                Для детей <i class="fa-solid fa-sort-down"></i></h3
            ></a>
          </div>
          <div>
            <a href="#">
              <h1 class="header_h1">
                <img src="./header img/Header-img.png" alt="" /> THE LOOP
              </h1></a
            >
          </div>
          <div>
            <a href="#"> <h3 class="header_h304">Оплата</h3></a>
          </div>
          <div>
            <a href="#"><h3 class="header_h305">Доставка</h3></a>
          </div>
          <div class="fa-bars1">
            <a href="#"><i class="fa-solid fa-bars fa-bars1"></i></a>
          </div>
          <div>
            <a href="#">
              <img
                class="header_img"
                src="./header img/header-img 1.png"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="main">
          <div class="main_Element">
            <div class="main_Element1">
              <p class="main_Element1_p">Зимняя распродажа</p>
              <h1 class="main_Element1_h1">СКИДКИ ДО 90%</h1>
              <button class="main_Element1_button">СМОТРЕТЬ МОДЕЛИ</button>
            </div>
            <div class="main_Element2">
              <b class="main_Element2_p">9 900 ₽ </b>
              <h2 class="main_Element2_h2">1 900 ₽</h2>
              <img
                class="main_Element2_img"
                src="./mainimg/main img.png"
                alt=""
              />
            </div>
          </div>
          <div class="cart">
            <div class="cart1"></div>
            <div class="cart2"></div>
            <div class="cart1"></div>
            <div class="cart1"></div>
          </div>
        </div>
      </div>

      <div class="deliver">
        <div>
          <p class="deliver_p"><b>БЕСПЛАТНАЯ ДОСТАВКА</b> ОТ 3000₽</p>
          <p class="deliver_p1">Сделайте заказ и получите подарок!</p>
        </div>
      </div>
      <div class="container">
        <div class="collektion">
          <div class="collektion_man">
            <div>
              <p class="collektion_man_p"><b>МУЖСКАЯ</b> КОЛЛЕКЦИЯ</p>
              <p class="collektion_man_p1">Обувь, полуверы, костюмы</p>
              <button class="collektion_man_button">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <div>
              <img
                class="collektion_man_img"
                src="./mainimg/main man img.png"
                alt=""
              />
            </div>
          </div>
          <div class="collektion_woman">
            <div>
              <p class="collektion_woman_p"><b>ЖЕНСКАЯ </b> КОЛЛЕКЦИЯ</p>
              <p class="collektion_woman_p1">Обувь, полуверы, костюмы</p>
              <button class="collektion_woman_button">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <div>
              <img
                class="collektion_woman_img"
                src="./mainimg/main woman img.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="center">
          <div class="cart_shirt1">
            <div>
              <img
                class="cart_shirt1_img"
                src="./mainimg/main cart shirt1.png"
                alt=""
              />
            </div>
            <div>
              <img
                class="cart_shirt1_img"
                src="./mainimg/main cart shirt2.png"
                alt=""
              />
            </div>
            <div>
              <img
                class="cart_shirt1_img"
                src="./mainimg/main cart shirt1.png"
                alt=""
              />
            </div>
            <div>
              <img
                class="cart_shirt1_img"
                src="./mainimg/main cart shirt2.png"
                alt=""
              />
            </div>
            <!--  -->
            <div>
              <img
                class="cart_shirt1_img"
                src="./mainimg/main cart shirt2.png"
                alt=""
              />
            </div>
            <div>
              <img
                class="cart_shirt1_img"
                src="./mainimg/main cart shirt1.png"
                alt=""
              />
            </div>
            <div>
              <img
                class="cart_shirt1_img"
                src="./mainimg/main cart shirt2.png"
                alt=""
              />
            </div>
            <div>
              <img
                class="cart_shirt1_img"
                src="./mainimg/main cart shirt1.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="model">
          <h2 class="model_text">Новые модели</h2>
          <div class="model_carts">
            <div class="model_cart1">
              <div>
                <img
                  class="noselect"
                  src="./mainimg/model_cartr img.png"
                  alt=""
                />
                <div class="model_cart1_noselect_text">
                  <b class="model_cart1_noselect_text_b">
                    Коктейльное<br />
                    платье
                  </b>
                  <p class="model_cart1_noselect_text_p">₽ 40 000</p>
                </div>
              </div>
            </div>
            <div class="model_cart1">
              <div>
                <img
                  class="noselect"
                  src="./mainimg/model_cartr img.png"
                  alt=""
                />
                <div class="model_cart1_noselect_text">
                  <b class="model_cart1_noselect_text_b">
                    Коктейльное<br />
                    платье
                  </b>
                  <p class="model_cart1_noselect_text_p">₽ 40 000</p>
                </div>
              </div>
            </div>
            <div class="model_cart1">
              <div>
                <img
                  class="noselect"
                  src="./mainimg/model_cartr img.png"
                  alt=""
                />
                <div class="model_cart1_noselect_text">
                  <b class="model_cart1_noselect_text_b">
                    Коктейльное<br />
                    платье
                  </b>
                  <p class="model_cart1_noselect_text_p">₽ 40 000</p>
                </div>
              </div>
            </div>
            <div class="model_cart1">
              <div>
                <img
                  class="noselect"
                  src="./mainimg/model_cartr img.png"
                  alt=""
                />
                <div class="model_cart1_noselect_text">
                  <b class="model_cart1_noselect_text_b">
                    Коктейльное<br />
                    платье
                  </b>
                  <p class="model_cart1_noselect_text_p">₽ 40 000</p>
                </div>
              </div>
            </div>
          </div>
          <div class="next_model">
            <button class="next_model_button">
              ВСЕ МОДЕЛИ <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="deliver01">
        <div class="deliver1">
          <div><p class="deliver1_p">ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ</p></div>
          <div>
            <input
              class="deliver1_input"
              type="email"
              placeholder="Ваш e-mail"
            />
          </div>
          <div><button class="deliver1_button">ПОДПИСАТЬСЯ</button></div>
        </div>
      </div>
      <div class="container">
        <div class="model">
          <h2 class="model_text">СКИДКИ ДО 90%</h2>
          <div class="center">
            <div class="model_carts">
              <div class="model_cart1">
                <div>
                  <img
                    class="noselect"
                    src="./mainimg/model_cartr img.png"
                    alt=""
                  />
                  <div class="model_cart1_noselect_text">
                    <b class="model_cart1_noselect_text_b">
                      Коктейльное<br />
                      платье
                    </b>
                    <p class="model_cart1_noselect_text_p">₽ 40 000</p>
                  </div>
                </div>
              </div>
              <div class="model_cart1">
                <div>
                  <img
                    class="noselect"
                    src="./mainimg/model_cartr img.png"
                    alt=""
                  />
                  <div class="model_cart1_noselect_text">
                    <b class="model_cart1_noselect_text_b">
                      Коктейльное<br />
                      платье
                    </b>
                    <p class="model_cart1_noselect_text_p">₽ 40 000</p>
                  </div>
                </div>
              </div>
              <div class="model_cart1">
                <div>
                  <img
                    class="noselect"
                    src="./mainimg/model_cartr img.png"
                    alt=""
                  />
                  <div class="model_cart1_noselect_text">
                    <b class="model_cart1_noselect_text_b">
                      Коктейльное<br />
                      платье
                    </b>
                    <p class="model_cart1_noselect_text_p">₽ 40 000</p>
                  </div>
                </div>
              </div>
              <div class="model_cart1">
                <div>
                  <img
                    class="noselect"
                    src="./mainimg/model_cartr img.png"
                    alt=""
                  />
                  <div class="model_cart1_noselect_text">
                    <b class="model_cart1_noselect_text_b">
                      Коктейльное<br />
                      платье
                    </b>
                    <p class="model_cart1_noselect_text_p">₽ 40 000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="next_model">
            <button class="next_model_button">
              ВСЕ МОДЕЛИ <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="feature">
        <div class="feature_deparment1">
          <h1 class="feature_deparment1_h1">
            <img src="./header img/Header-img.png" alt="" /> THE LOOP
            <br /><br />
          </h1>
          <a href="#"
            ><p class="feature_deparment1_p1">Lorem ipsum dolor sit amet,</p></a
          >
          <a href="#">
            <p class="feature_deparment1_p2">consectetur adipiscing elit.</p></a
          >
          <a href="#">
            <p class="feature_deparment1_p3">
              Nulla faucibus egestas elit, at
            </p></a
          >
          <a href="#">
            <p class="feature_deparment1_p4">eleifend elit ornare ut.</p></a
          >
        </div>
        <div class="feature_deparment2">
          <h3 class="feature_deparment2_h2">Основные ссылки</h3>
          <a href="#"> <p class="feature_deparment2_p1">О компании</p></a>
          <a href="#"> <p class="feature_deparment2_p2">Каталог</p></a>
          <a href="#"> <p class="feature_deparment2_p3">Доставка</p></a>
          <a href="#"> <p class="feature_deparment2_p4">Оплата</p></a>
        </div>
        <div class="feature_deparment3">
          <h3>Категории</h3>
          <a href="#"> <p class="feature_deparment3_p1">Мужская одежда</p></a>
          <a href="#"> <p class="feature_deparment3_p2">Женская одежда</p></a>
          <a href="#"> <p class="feature_deparment3_p3">Детская одежда</p></a>
          <a href="#"> <p class="feature_deparment3_p4">Для животных</p></a>
        </div>
        <div class="feature_deparment4">
          <h3>ПОЛЕЗНЫЕ ССЫЛКИ</h3>
          <a href="#"> <p class="feature_deparment4_p1">Таблица размеров</p></a>
          <a href="#"> <p class="feature_deparment4_p2">Блог о моде</p></a>
          <a href="#"> <p class="feature_deparment4_p3">Наша миссия</p></a>
        </div>
        <div class="feature_deparment5">
          <h3>СОЦ СЕТИ</h3>
          <a href="#">
            <p class="feature_deparment4_p1">
              <img src="./feature imgs/VK com.png" alt="" />
              VK.com
            </p></a
          >
          <a href="#">
            <p class="feature_deparment4_p2">
              <img src="./feature imgs/facebook.png" alt="" />
              Facebook
            </p></a
          >
          <a href="#">
            <p class="feature_deparment4_p3">
              <img src="./feature imgs/instagram.png" alt="" /> Instagram
            </p></a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
